# Git
.git
.gitignore

# Virtual environments
venv/
venv_vertex/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Local tools
cloud-sql-proxy.exe.exe

# Documentation
README.md

# IDE files
.vscode/
.idea/